:root {
    /* fot light theme  */
    --bg1: #fffffe;
    --bg2: #fde9f6;
    --bg-nav: #fde9f6;
    --landing-bg-color: var(--bg1);
    --footer-bg: #253036;
    --bg-card1: #ffffff;
    --bg-category: #ffffff;
    --bg-card2: #baf7f4;
    --primary-purple: #6a38c2;
    --secondary-orange: #fa4e09;
    --toggle-btn-color: #501875;

    --footer-text-color: #ffffff;
    --btn-text-color: #ffffff;
    --text-color1: #212121;
    --text-color2: #47106c;
    --text-color3: #00008b;
    --text-color4: #6e6464;
    --text-color5: #000000;
    --text-color6: #b8bfc3;
    --text-color7: #8b92dd;
    --text-color8: #47106c;
    --text-color9: #6a38c2;
    --text-color10: #47106c;

    --shadow1: rgba(0, 0, 0, 0.15);
    --shadow2: rgba(0, 0, 0, 0.15);
    --shadow3: rgba(31, 43, 123, 0.8);

    /* font family  */
    --header-font: "Signika", sans-serif;
    --font2: "Dosis", sans-serif;
    --font3: "Raleway", sans-serif;
}

.dark-mode {
    --bg1: #0c011b;
    --bg2: #1a0635;
    --bg-nav: #240333;
    --landing-bg-color: var(--bg1);
    --footer-bg: #0c011b;
    --bg-card1: #0c011b;
    --bg-card2: rgb(146, 243, 239);
    --bg-category: #0c011b;

    --primary-purple: #6a38c2;
    --secondary-orange: #e6490b;
    --toggle-btn-color: #a366cb;

    --footer-text-color: #c6b6b6;
    --btn-text-color: #ffffff;
    --text-color1: #e8dffb;
    --text-color2: #8032b3;
    --text-color3: #6062c9;
    --text-color4: #e2c3c3;
    --text-color5: #cac5d5;
    --text-color6: #556f86;
    --text-color7: #8b92dd;
    --text-color8: #dcb3f7;
    --text-color9: #6a38c2;
    --text-color10: #3a0f7f;

    --shadow1: rgba(0, 0, 0, 0.15);
    --shadow2: rgba(0, 0, 0, 0.15);
    --shadow3: rgba(31, 43, 123, 0.8);
}


.job-detail h5 {
    padding-top: 15px;
    padding-bottom: 12px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

.job-detail h4 {
    font-size: 1.6em !important;
    font-weight: 600;
    color: var(--text-color3);
}

.job-detail .divider {
    margin-top: 8px;
    height: 2px;
    background-color: #E4E3E5;
}

.salary {
    display: flex;
    gap: 15px;
    padding-top: 8px;
    padding-bottom: 12px;
}

.responsibility>div {
    display: flex;
    padding-bottom: 8px;
}

.responsibility i {
    padding-top: 5px;
    padding-right: 5px;
    font-size: 0.9em;
    display: block;
}

.btn-employeer-jobs {
    width: 320px;
}

.job-detail .card {
    padding: 20px;
    background-color: var(--bg2);
}

.job-detail .industry {
    display: block;
    margin-top: -10px;
    padding-left: 10px;
    padding-bottom: 8px;
}

.benefits {
    padding-bottom: 10px;
}

.benefits span {
    font-size: 1.2em;
}

.benefits i {
    font-size: 1.7em;
    padding-right: 7px;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}